@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Proxima Nova";
  src: url("../../static/fonts/proxima-nova-regular.otf") format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../../static/fonts/proxima-nova-bold.otf") format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Bookmania";
  src: url("../../static/fonts/bookmania-bold.otf") format("opentype");
  font-weight: 700;
}

body {
  @apply text-gray-600;
}

h1 {
  font-family: "Bookmania";
  @apply text-black;
}

h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Proxima Nova";
}

h1 {
  @apply text-5xl;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

p {
  @apply text-base leading-relaxed font-normal;
}

th {
  @apply text-left font-bold;
}

td {
  @apply align-top;
}

figcaption {
  @apply text-gray-400 text-center italic leading-relaxed;
}

.scroll-container {
  @apply relative h-screen overflow-y-scroll;
}

.scroll-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.reading-grid {
  @apply grid grid-cols-reading-narrow md:grid-cols-reading-wide;
}

.reading-grid > * {
  grid-column: 3 / 4;
}

.reading-grid > .wide {
  grid-column: 2 / -2 !important;
}

.full-bleed {
  grid-column: 1 / -1 !important;
}

.content > section {
  @apply py-24 reading-grid;
}

.content > section > section {
  @apply mt-12 space-y-4 reading-grid full-bleed;
}
